@use '../../App' as var

.desktop
    display: grid
    grid-template-columns: 200px auto
    column-gap: 10px
    &__buttons
        display: flex
        flex-direction: column
        row-gap: 10px
    &__button
        border: none
        border-radius: 8px 0 0 8px
        padding: 5px
        cursor: pointer
        font-family: var.$serviceStrict
        text-transform: uppercase
        transition: .1s
        &:hover
            span
                border-bottom: 1px solid black
        &:active
            background-color: var.$bgColor
    &__content
        display: flex
        flex-direction: column
        row-gap: 20px
        width: 100%
        padding: 10px
        border-radius: 0 8px 8px 0
    &__contentTray
        width: 100%
        display: flex
        column-gap: 10px
        align-items: center
        input
            border-radius: 5px
            width: 100%
            border: 1px solid #e3e3e3
            padding: 2px 5px
            color: var.$darkGray
            outline: none
        select
            width: 122px
            border-radius: 5px
            border: 1px solid #e3e3e3
            padding: 1px 5px
            background-color: #ffffff
            color: var.$darkGray
            outline: none
            box-sizing: border-box

.desktopItem
    border: 1px solid #e3e3e3
    border-radius: 8px
    padding: 10px
    position: relative
    display: flex
    justify-content: right
    &__text
        color: #424242

.mobile
    display: flex
    flex-direction: column
    row-gap: 10px
    &__tray
        display: grid
        grid-template-columns: auto 22% 20%
        column-gap: 5px
        select
            border-radius: 8px
            width: 100%
            border: none
            padding: 3px 6px
            font-size: 14px
    &__content
        display: flex
        flex-direction: column
        row-gap: 10px

.searchMobile
    border-radius: 8px
    width: 100%
    border: none
    padding: 3px 6px
    font-size: 14px

.mobileItem
    padding: 7px 10px
    display: flex
    flex-direction: column
    row-gap: 7px
    text-transform: uppercase
    font-size: 12px
    color: #8e8e8e
    &__text
        text-transform: none
        color: var.$almostBlack
        font-size: 16px
    &__bottomBox
        border-top: 1px solid #8e8e8e
        padding-top: 7px
        display: flex
        justify-content: space-between
    &__odometer
        span
            text-transform: lowercase